﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Comment>
@foreach (var item in @Model)
{
    <div class="container" margin-top:5px;">

        <div style="margin:5px;">
            <div class="row">
                <div class="btn-group">
                    @Html.ActionLink(@item.User.UserName, "UserPageAsyncShow", "Account", new { username = @item.User.UserName }, null)
                    <span class="glyphicon glyphicon-thumbs-up"></span> @item.Likes
                </div>
            </div>
            @item.Text


        </div>
      
       
    </div>
}
<div class="ui form">
    <div class="field">
        <textarea id="inputcom" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 65px;"></textarea>
        <label><button class="ui button" id="sdsa" onclick="entercom()">Отправить</button></label>
    </div>
</div>
