﻿
@{
    ViewData["Title"] = "AddSpace";
}
<form action="/Account/AddSpaceRes">
    <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus-sign"></span></button>
    <input type="text" name="workname"/>
</form>

