﻿
@{
    ViewData["Title"] = "AddSpaceRes";
}

<h2>AddSpaceRes</h2>

@model List<WorkSpaceTable>
@foreach (var item in Model)
{
    <b>@item.name</b>

}
<h2>WorkSpace</h2>
<div id="workdata"></div>
<form action="/Account/AddSpace"><button type="submit">fdf</button></form>