﻿
@{
    ViewData["Title"] = "AdminPanel";
}


@{
    ViewData["Title"] = "LoginBasePage";
}
<div class="container">
    <div id="forak">
        @model List<ApplicationUser>
        <div class="panel panel-primary " style="margin: 0px">
            <div class="panel-heading" style="text-align: center">
                Учетные записи
            </div>
            <table class="table table-bordered" style="text-align: left">
                <tr style="text-align: left">

                    <th style="text-align: center">Статус</th>
                    <th style="text-align: center">Имя</th>
                    <th style="text-align: center">Электронный адрес</th>
                    <th style="text-align: center">Права</th>
                </tr>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="4" class="text-center">Нет ни одной учетной записи</td>
                    </tr>
                }
                else
                {
                    foreach (var user in Model)
                    {

                        <tr id="@user.Email" onclick="selectuser(this.id)">

                            @if (user.stringban == ": banned")
                    {
                                <td>Заблокирован</td>}
                    else
                    {
                                <td>Разблокирован</td> }
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@user.admin</td>
                        </tr>
                    }
                }
            </table>
        </div>

    </div>
    <div class="btn-toolbar">
        <div class="btn-group">
            <button type="button" onclick="deleteus()" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-trash"></span></button>
            <button type="button" onclick="bane()" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-ban-circle"></span></button>
            <button type="button" onclick="adminWork()" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-adjust"></span></button>
        </div>
    </div>
</div>
<script>

    let set = new Set();


    function selectuser(usinfo) {

        if (document.getElementById(usinfo).style.backgroundColor == "rgb(127, 255, 212)") {

            document.getElementById(usinfo).style.backgroundColor = "white";
            set.delete(usinfo);


        }
        else {
            set.add(usinfo);
            document.getElementById(usinfo).style.backgroundColor = "rgb(127, 255, 212)";


        }

    }

    function bane() {

        set.forEach(function (item, i, set) {

            $.post("/Account/Ban", { pak: item }, loading);
        });
        set.forEach(function (item, i, set) {
            set.delete(item);
        });

    }

    function adminWork() {

        set.forEach(function (item, i, set) {

            $.post("/Account/AdminWork", { pak: item }, loading);
        });
        set.forEach(function (item, i, set) {
            set.delete(item);
        });

    }

    function deleteus() {

        set.forEach(function (item, i, set) {
            $.post("/Account/Deleter", { pak: item }, loading);
        });
        set.forEach(function (item, i, set) {
            set.delete(item);
        });

    }
    function preload() {
        $.get("/Account/Show", null, loading);

    }
    function loading(data) {
        $("#forak").html(data);
    }
</script>
<script> HtmlHelper.UnobtrusiveJavaScriptEnabled = true;</script>
<script src="~/js/jquery-3.1.1.js"></script>
<script src="~/js/jquery.unobtrusive-ajax.js"></script>

