﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<ApplicationUser>
<div class="panel panel-primary " style="margin: 0px">
    <div class="panel-heading" style="text-align: center">
        Учетные записи
    </div>
    <table class="table table-bordered" style="text-align: left">
        <tr style="text-align: left">

    <th style="text-align: center">Статус</th>
    <th style="text-align: center">Имя</th>
    <th style="text-align: center">Электронный адрес</th>
    <th style="text-align: center">Права</th>
</tr>
@if (Model.Count() == 0)
{
    <tr>
        <td colspan="4" class="text-center">Нет ни одной учетной записи</td>
    </tr>
}
else
{
    foreach (var user in Model)
    {

        <tr id="@user.Email" onclick="selectuser(this.id)">

            @if (user.stringban == ": banned")
                    {
                <td>Заблокирован</td>}
                    else
                    {
                <td>Разблокирован</td> }
             <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.admin</td>

        </tr>
    }
}
    </table>
</div>
