﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="ui form row" style="margin-top: 150px; max-width: 450px;">
    <div class="field">
        <label>Имя</label>
        <input disabled value="@if (@Model.First().User.UserName != null) {@Model.First().User.UserName}" type="text" id="usname" />
    </div>
    <div class="field">
        <label>Возраст</label>
        <input disabled value="@Model.First().User.age" type="text" id="age" class="stepinput" />
    </div>
    <div class="field">
        <label>Страна</label>
        <input disabled value="@Model.First().User.country" type="text" id="country" />
    </div>
    <button class="ui button" onclick="enableInput()">Изменить</button>
    <button class="ui button" onclick="disableInput()">Сохранить</button>
</div>