﻿
@{
    ViewData["Title"] = "CreateInstruction";
}
@model Instruction
<link rel="stylesheet" type="text/css" href="~/css/semantic.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="~/js/semantic.min.js"></script>
<script src="~/js/jquery-3.1.1.js"></script>
<script src="~/js/jquery.unobtrusive-ajax.js"></script>

<div class="ui form row" style="margin-top: 200px; max-width: 450px;">
    <div id="forak">

        <div class="field">
            <label>@Model.Name</label>
            <input type="text" id="insname" />
        </div>
        <div class="field">
            <label>@Model.ShortDescription</label>
            <input type="text" id="shortDescription" class="stepinput" />
        </div>
        <div class="field">
            <label>Theme</label>
            <input type="text" id="theme" />
        </div>
        <div class="field">
            <label>Tags</label>
            <input type="text" class="form-control" id="tokenfield-typeahead" />
        </div>
        
        <script>
        var c;
        document.addEventListener("DOMContentLoaded", function () {
            // access Dropzone here
            Dropzone.options.MyDropzone = {
                init: function () {


                    // Using a closure.
                    c= this;

                }
            };
        });
    var g = document.getElementsByClassName('dz-filename');
        function addstep()
        {
            var InsName = document.getElementById("insname").value;
            var shortDescription = document.getElementById("shortDescription").value;
            var theme = document.getElementById("theme").value;
            var tags = document.getElementById("tokenfield-typeahead").value;
            $.post("/Home/AddStep", { inspic: g[0].getElementsByTagName("span")[0].innerHTML, insid:@Model.Id, theme:theme, InsName:InsName,shortDescription:shortDescription,tag:tags},loading);
            $("#close").remove();
            c.removeAllFiles();

        }
    function loading(data)
    {
        $("#forak").html(data);
    }
        </script>
    </div>


    <link rel="stylesheet" type="text/css" href="~/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="~/css/basic.css">

    <script src="~/js/dropzone.js"></script>

    <div id="testd"></div>
    <div class="field">
        <div id="dropzone">
            <form action="/Home/UploadFile" class="dropzone needsclick dz-clickable" id="MyDropzone">
                <div class="dz-message needsclick">
                    Drop files here or click to upload.<br>
                </div>
            </form>
        </div>
    </div>

    <button class="ui button" id="close" onclick="addstep()">Добавить шаг</button>
</div>
