﻿
@{
    ViewData["Title"] = "EditInstruction";
}
@model Instruction
<link rel="stylesheet" type="text/css" href="~/css/semantic.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="~/js/semantic.min.js"></script>
<div class="ui form row" style="margin-top: 100px; max-width: 450px;">
    <div class="field">
        <label>Name</label>
        <input value="@Model.Name" type="text" id="Name" />
    </div>
    <div class="field">
        <label>ShortDescription</label>
        <input value="@Model.ShortDescription"  type="text" id="ShortDescription" class="stepinput" />
    </div>
    <div class="field">
        <label>Theme</label>
        <input  value="@Model.Theme" type="text" id="Theme" />
    </div>
    <button class="ui button field" id="@Model.Id" onclick="savechangesins(this.id)">сохранить изменения</button>
    </div>
    
    @foreach (var esitem in @Model.ViewStep)
    {
        <div class="ui form row" style="margin-top: 20px; max-width: 450px;">
            <div class="field">
                <label>Имя шага</label>
                <input id="StepName @esitem.Id" value="@esitem.Name" />
            </div>

            <div class="field">
                <label>текст шага</label>
                <textarea id="StepText @esitem.Id" value="@esitem.StepText"></textarea>
            </div>

            <button class="ui button field" id="@esitem.Id" onclick="savechanges(this.id)">сохранить изменения для шага</button>
            </div>
            }
            <script>
                function savechangesins(id) {
                    var Name = document.getElementById("Name").value;
                    var ShortDescription = document.getElementById("ShortDescription").value;
                    var Theme = document.getElementById("Theme").value;
                    $.post("/Home/EditIns", { name: Name, shortdes: ShortDescription, theme: Theme, id: id }, loading);
                }
                function savechanges(id) {
                    var Name = document.getElementById("StepName " + id).value;
                    var Text = document.getElementById("StepText " + id).value;
                    $.post("/Home/EditStep", { name: Name, text: Text, id: id }, loading);
                }
                function loading(data) {

                }
            </script>
