﻿

@{
    ViewData["Title"] = "ShowInstruction";
}

@model Instruction
<link rel="stylesheet" type="text/css" href="~/css/semantic.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="~/js/semantic.min.js"></script>
<div style="width: 500px;">
<div class="container ui raised segment"  >
    <img height="500" width="500" src="~/Files/@Model.Pic" class="ui bordered image" />
    <div class="btn-toolbar" style="text-align:center;">
        <h1>@Model.Name</h1>
        <span onclick="rate(this.id)" onmousemove="change(this.id)" id="first" class="glyphicon glyphicon-star-empty"></span>
        <span onclick="rate(this.id)" onmousemove="change(this.id)" id="second" class="glyphicon glyphicon-star-empty"></span>
        <span onclick="rate(this.id)" onmousemove="change(this.id)" id="third" class="glyphicon glyphicon-star-empty"></span>
        <span onclick="rate(this.id)" onmousemove="change(this.id)" id="four" class="glyphicon glyphicon-star-empty"></span>
        <span onclick="rate(this.id)" onmousemove="change(this.id)" id="five" class="glyphicon glyphicon-star-empty"></span>
        <h4>@Model.ShortDescription</h4>
    </div>
 </div>

<div id="step">
    <div class="ui attached segment">
        <div class="ui small images" style="align-self: center;">
            @if (@Model.ViewStep.First().Pic1 != "empty")
            {<img height="200" width="200" src="~/Files/@Model.ViewStep.First().Pic1" class="content ui bordered image" />}

            @if (@Model.ViewStep.First().Pic2 != "empty")
            {<img height="200" width="200" src="~/Files/@Model.ViewStep.First().Pic2" class="content ui bordered image" />}

            @if (@Model.ViewStep.First().Pic3 != "empty")
            {<img height="200" width="200" src="~/Files/@Model.ViewStep.First().Pic3" class="content ui bordered image" />}
        </div>

        <div class="content" style="word-wrap: break-word; text-align: center;">
            <h2>@Model.ViewStep.First().Name</h2>
            <div class="description">
                @Model.ViewStep.First().StepText
            </div>
        </div>

    </div>
    <div class="ui two bottom attached buttons">
        <button id="@Model.ViewStep.IndexOf(@Model.ViewStep.First())-" class="ui button" onclick="next(this.id)"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Назад</font></font></button>
        <button id="@Model.ViewStep.IndexOf(@Model.ViewStep.First())+" class="ui button" onclick="next(this.id)"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вперед</font></font></button>
    </div>
</div>
    <button class="ui button fluid" onclick="comments()">Показать комментарии</button>
</div>


<div id="chatroom"></div>
<script src="~/js/signalr-client-1.0.0-alpha2-final.min.js"></script>
<script>
    function next(id)
    {

         $.post("/Home/OpenStep", {id:id,insid:"@Model.Id"},loadstep);

    }
    function loadstep(data)
    {
        $("#step").html(data)

    }

    function change(id)
    {

        if (id == "first")
        {
            $("#first").removeClass("glyphicon glyphicon-star-empty")
            $("#first").addClass("glyphicon glyphicon-star")
            $("#second").removeClass("glyphicon glyphicon-star")
            $("#second").addClass("glyphicon glyphicon-star-empty")
            $("#third").removeClass("glyphicon glyphicon-star")
            $("#third").addClass("glyphicon glyphicon-star-empty")
            $("#four").removeClass("glyphicon glyphicon-star")
            $("#four").addClass("glyphicon glyphicon-star-empty")
            $("#five").removeClass("glyphicon glyphicon-star")
            $("#five").addClass("glyphicon glyphicon-star-empty")

        }
        if (id == "second") {
            $("#first").removeClass("glyphicon glyphicon-star-empty")
            $("#first").addClass("glyphicon glyphicon-star")
            $("#second").removeClass("glyphicon glyphicon-star-empty")
            $("#second").addClass("glyphicon glyphicon-star")
            $("#third").removeClass("glyphicon glyphicon-star")
            $("#third").addClass("glyphicon glyphicon-star-empty")
            $("#four").removeClass("glyphicon glyphicon-star")
            $("#four").addClass("glyphicon glyphicon-star-empty")
            $("#five").removeClass("glyphicon glyphicon-star")
            $("#five").addClass("glyphicon glyphicon-star-empty")


        }
        if (id == "third") {
            $("#first").removeClass("glyphicon glyphicon-star-empty")
            $("#first").addClass("glyphicon glyphicon-star")
            $("#second").removeClass("glyphicon glyphicon-star-empty")
            $("#second").addClass("glyphicon glyphicon-star")
            $("#third").removeClass("glyphicon glyphicon-star-empty")
            $("#third").addClass("glyphicon glyphicon-star")
            $("#four").removeClass("glyphicon glyphicon-star")
            $("#four").addClass("glyphicon glyphicon-star-empty")
            $("#five").removeClass("glyphicon glyphicon-star")
            $("#five").addClass("glyphicon glyphicon-star-empty")

        }
        if (id == "four") {
            $("#first").removeClass("glyphicon glyphicon-star-empty")
            $("#first").addClass("glyphicon glyphicon-star")
            $("#second").removeClass("glyphicon glyphicon-star-empty")
            $("#second").addClass("glyphicon glyphicon-star")
            $("#third").removeClass("glyphicon glyphicon-star-empty")
            $("#third").addClass("glyphicon glyphicon-star")
            $("#four").removeClass("glyphicon glyphicon-star-empty")
            $("#four").addClass("glyphicon glyphicon-star")
            $("#five").removeClass("glyphicon glyphicon-star")
            $("#five").addClass("glyphicon glyphicon-star-empty")
        }
        if (id == "five") {
            $("#first").removeClass("glyphicon glyphicon-star-empty")
            $("#first").addClass("glyphicon glyphicon-star")
            $("#second").removeClass("glyphicon glyphicon-star-empty")
            $("#second").addClass("glyphicon glyphicon-star")
            $("#third").removeClass("glyphicon glyphicon-star-empty")
            $("#third").addClass("glyphicon glyphicon-star")
            $("#four").removeClass("glyphicon glyphicon-star-empty")
            $("#four").addClass("glyphicon glyphicon-star")
            $("#five").removeClass("glyphicon glyphicon-star-empty")
            $("#five").addClass("glyphicon glyphicon-star")
        }
    }
    function rate(id)
    {
        var res;
        if (id == "first") res = 1;
        if (id == "second") res = 2;
        if (id == "third") res = 3;
        if (id == "four") res = 4;
        if (id == "five") res = 5;
        $.post("/Home/Rate", { mark: res, insid: "@Model.Id" }, sucload);

    }
    function sucload(data)
    {

    }
   let hubUrl = 'https://localhost:44349/ShowSpase';
    let httpConnection = new signalR.HttpConnection(hubUrl);
    let hubConnection = new signalR.HubConnection(httpConnection);

    hubConnection.on("Send", function (data) {
       $.get("/Account/AddComment", { comment: data, id:@Model.Id }, loadin);


    });

    function loadin(datas) {
        $("#chatroom").html(datas);
    }

    hubConnection.on("AddChatMessage", function (data) {
        $.post("/Account/ShowComment", { comment: data,id:@Model.Id},loadin);
    });



    function entercom()
    {
        let message = document.getElementById("inputcom").value;
        hubConnection.invoke("Send", message,@Model.Id);

    }

    hubConnection.start();

    function comments() {
        hubConnection.invoke("AddChatMessage", @Model.Id);
    }



</script>



