﻿
@{
    ViewData["Title"] = "UserPageAsyncWithoutTables";
}
@model ApplicationUser
<div id="usinfo">
    <button onclick="enableInput()">Изменить</button>
    <button onclick="disableInput()">Сохранить</button>
    @if (Model.admin != null)
    {
        @if (@Model.admin == "admin")
        {
            <form action="/Account/AdminPanel"><button type="submit">Права админа</button></form>

        }

    }
    <li><input id="usname" disabled value="@if (@Model.UserName != null) {@Model.UserName}" />Имя</li>
    <li><input id="age" disabled value="@Model.age" />Возраст</li>
    <li><input id="country" disabled value="@Model.country" />Страна</li>
</div>

<script>
    function enableInput()
    {
        $("input").prop('disabled', false);

    }
    function disableInput() {
        var usName = document.getElementById("usname").value;
        var age = document.getElementById("age").value;
        var country = document.getElementById("country").value;
        alert(usName);
        alert(age);
        $.post("/Account/ChangeUsinfo", { usname:usName, age:age, country:country,id:"@Model.Id" }, loading);
        $("input").prop('disabled', true);

    }
    function loading(data) {
        alert(data);
        $("#usinfo").html(data)

    }
</script>
