﻿
@{
    ViewData["Title"] = "UserPageAsync";
}
@model List<Instruction>


<div id="usinfo" style="margin-top:50px;">

    <link rel="stylesheet" type="text/css" href="~/css/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="~/js/semantic.min.js"></script>
    <div class="ui form row" style="margin-top: 150px; max-width: 450px;">
        <div class="field">
            <label>Имя</label>
            <input disabled value="@if (@Model.First().User.UserName != null) {@Model.First().User.UserName}" type="text" id="usname" />
        </div>
        <div class="field">
            <label>Возраст</label>
            <input disabled value="@Model.First().User.age" type="text" id="age" class="stepinput" />
        </div>
        <div class="field">
            <label>Страна</label>
            <input disabled value="@Model.First().User.country" type="text" id="country" />
        </div>
        <button class="ui button"  onclick="enableInput()">Изменить</button>
        <button class="ui button" onclick="disableInput()">Сохранить</button>
        </div>
    </div>
<div id="forak">
    <div class="panel panel-primary " style="margin: 0px">
        <div class="panel-heading" style="text-align: center">
           Инструкции
        </div>
        <table class="table table-bordered" style="text-align: left">
            <tr style="text-align: left">

                <th style="text-align: center">Инструкция</th>
                <th style="text-align: center">Тема</th>
                <th style="text-align: center">Рейтинг</th>
            </tr>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4" class="text-center">Нет ни одной инструкции</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {

                    <tr id="@item.Id">

                        <td>@Html.ActionLink(@item.Name, "ShowInstruction", "Account", new { id = @item.Id }, null)</td>
                        <td>@item.Theme</td>
                        <td>@item.Rate</td>
                        <td><div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" id="@item.Id" onclick="deleteins(this.id)">Удалить</a></li>
        <li><a href="#">@Html.ActionLink("Редактировать", "EditInstruction", "Account", new { id = @item.Id }, null)</a></li>
    </ul>
</div></td>
                      
                    </tr>
                }
            }
        </table>
    </div>

</div>

<script>
    function deleteins(id)
    {
        alert("id");
        $.post("/Home/DeleteInstruction", {usid:"@Model.First().User.Id", id:id}, loadingtable);

    }
    function loadingtable(data)
    {
       
        $("#forak").html(data)
    }
    function enableInput()
    {
        $("input").prop('disabled', false);

    }
    function disableInput() {
        var usName = document.getElementById("usname").value;
        var age = document.getElementById("age").value;
        var country = document.getElementById("country").value;
        alert(usName);
        alert(age);
        $.post("/Account/ChangeUsinfo", { usname:usName, age:age, country:country,id:"@Model.First().User.Id" }, loading);
        $("input").prop('disabled', true);

    }
    function loading(data) {
        alert(data);
        $("#usinfo").html(data)

    }
</script>
