﻿
@{
    ViewData["Title"] = "UserPageAsyncShow";
}

@model List<Instruction>



<div style="margin-top:50px;">
  <h1>@Model.First().User.UserName</h1>
  <h2>@Model.First().User.country</h2>
  <h2>@Model.First().User.age</h2>
    @if (User.Identity.Name == @Model.First().User.UserName)
    { @Html.ActionLink("редактировать", "UserPageAsync", "Account", new { username = User.Identity.Name }, null)}
</div>




    @foreach (var item in Model)
    {
    <div class="container">

        <div class="row">


            <div class="btn-toolbar">
                <h2>@Html.ActionLink(@item.Name, "ShowInstruction", "Account", new { id = @item.Id }, null)</h2>
                @if (item.Rate > 0)
                {
                <span class="glyphicon glyphicon-star"></span>
                }
                else
                {
                <span class="glyphicon glyphicon-star-empty"></span>
                }
                @if (item.Rate > 1)
                {
                <span class="glyphicon glyphicon-star"></span>
                }
                else
                {
                <span class="glyphicon glyphicon-star-empty"></span>
                }
                @if (item.Rate > 2)
                {
                <span class="glyphicon glyphicon-star"></span>
                }
                else
                {
                <span class="glyphicon glyphicon-star-empty"></span>
                }
                @if (item.Rate > 3)
                {
                <span class="glyphicon glyphicon-star"></span>
                }
                else
                {
                <span class="glyphicon glyphicon-star-empty"></span>
                }
                @if (item.Rate > 4)
                {
                <span class="glyphicon glyphicon-star"></span>
                }
                else
                {
                <span class="glyphicon glyphicon-star-empty"></span>
                }

            </div>

        </div>
        <h4>@item.ShortDescription</h4>
        <img height="300" width="300" src="~/Files/@item.Pic" />
    </div>
    <div class="container" style="margin-top:10px;">
        @if (item.TagView != null)
        {
        foreach (var t in item.TagView)
        {
        <span class="label label-primary">@t</span>
        }

        }
    </div>

    <div class="container" style="margin-top:10px;">
        @if (@item.Comments != null)
        {
        @foreach (var esiteсm in @item.Comments.Take(3))
        {
        <div class="container">
            <div class="row">
                <div class="btn-group">
                    @Html.ActionLink(@esiteсm.User.UserName, "UserPageAsync", "Account", new { username = @esiteсm.User.UserName }, null)
                    <span class="glyphicon glyphicon-thumbs-up"></span> @esiteсm.Likes
                </div>
            </div>
            @esiteсm.Text
        </div>


        }
        }
    </div>
    }






