﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model  Instruction

<div id="step">
    
    
    <div class="field">
        <label>имя шага</label>
        <input id="stepname" type="text"/>
    </div>
  
    <div class="field">
        <label>текст инструкции</label>
        <textarea id="steptext" type="text"></textarea>
    </div>
    
    <button class="ui button field" onclick="addnextstep()">Добавить еще  шаг</button>
    <button class="ui button field" onclick="publish()">Опубликовать</button>

 </div>   

<script>
        var c;
        document.addEventListener("DOMContentLoaded", function () {
            Dropzone.options.MyDropzone = {
                init: function () {
                    c= this;
                }
            };
        });
</script>
<script>
        function publish()
        {
         var StepName = document.getElementById("stepname").value;
        var StepText = document.getElementById("steptext").value;
        var photos = ["empty", "empty", "empty"]
        photos[0] = g[0].getElementsByTagName("span")[0].innerHTML;
        if (g[1] != undefined) photos[1] = g[1].getElementsByTagName("span")[0].innerHTML;
        if (g[2] != undefined) photos[2] = g[2].getElementsByTagName("span")[0].innerHTML;
        $.post("/Home/AddNextStepAndPublish", { steppic1: photos[0], steppic2: photos[1], steppic3: photos[2], insid:@Model.Id, stepname:StepName, steptext:StepText},red);
        c.removeAllFiles();


        }
        function addnextstep() {
        var StepName = document.getElementById("stepname").value;
        var StepText = document.getElementById("steptext").value;
        document.getElementById("stepname").value="";
        document.getElementById("steptext").value="";
        var photos = ["empty", "empty", "empty"]
        photos[0] = g[0].getElementsByTagName("span")[0].innerHTML;
        if (g[1] != undefined) photos[1] = g[1].getElementsByTagName("span")[0].innerHTML;
        if (g[2] != undefined) photos[2] = g[2].getElementsByTagName("span")[0].innerHTML;
        $.post("/Home/AddNextStep", { steppic1: photos[0], steppic2: photos[1], steppic3: photos[2], insid:@Model.Id, stepname: StepName, steptext: StepText }, loadingg);
        c.removeAllFiles();

        }
        function loadingg(data) {
            $("#step").html(data);
        }
        function red(data) {
            location = "https://localhost:44349/";
        }
</script>
