﻿
@{
    ViewData["Title"] = "DeleteInstruction";
}
@model List<Instruction>
<div class="panel panel-primary " style="margin: 0px">
    <div class="panel-heading" style="text-align: center">
        Инструкции
    </div>
    <table class="table table-bordered" style="text-align: left">
        <tr style="text-align: left">

            <th style="text-align: center">Инструкция</th>
            <th style="text-align: center">Тема</th>
            <th style="text-align: center">Рейтинг</th>
        </tr>
        @if (Model.Count() == 0)
            {
            <tr>
                <td colspan="4" class="text-center">Нет ни одной инструкции</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {

                <tr id="@item.Id">

                    <td>@Html.ActionLink(@item.Name, "ShowInstruction", "Account", new { id = @item.Id }, null)</td>
                    <td>@item.Theme</td>
                    <td>@item.Rate</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="@item.Id" onclick="deleteins(this.id)">Удалить</a></li>
                                <li><a href="#">Редактировать</a></li>
                            </ul>
                        </div>
                    </td>

                </tr>
            }
        }
    </table>
</div>




