﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Step
<div class="ui attached segment">
    <div class="ui small images" style="align-self: center;">
        @if (@Model.Pic1 != "empty")
        {<img height="200" width="200" src="~/Files/@Model.Pic1" class="content ui bordered image" />}

        @if (@Model.Pic2 != "empty")
        {<img height="200" width="200" src="~/Files/@Model.Pic2" class="content ui bordered image" />}

        @if (@Model.Pic3 != "empty")
        {<img height="200" width="200" src="~/Files/@Model.Pic3" class="content ui bordered image" />}
    </div>



    <div class="content" style="word-wrap: break-word; text-align: center;">
        <h2>@Model.Name</h2>
        <div class="description">
            @Model.StepText
        </div>
    </div>
</div>
<div class="ui two bottom attached buttons">
    <button id="@Model.PostId-" class="ui button" onclick="next(this.id)"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Назад</font></font></button>
    <button id="@Model.PostId+" class="ui button" onclick="next(this.id)"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вперед</font></font></button>
</div>
