﻿
@{
    ViewData["Title"] = "UploadFile";
}
@model List<string>
<h2>UploadFile</h2>
@foreach (var item in Model)
{
    <img src="~/Files/@item" alt="~/Files/@item" />
}
<img src="~/Files/амиго.jpg" />

