@using Microsoft.AspNetCore.Identity
@using WebApplication12.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(@UserManager.GetUserName(User), "UserPageAsyncShow", "Account", new { username = @UserManager.GetUserName(User) }, null)
            <li>
               @if (UserManager.FindByNameAsync(User.Identity.Name).Result.admin == "admin") {@Html.ActionLink("Admin panel", "AdminPanel", "Account", null, null)}
            </li>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
